@font-face {
    font-family: Tommy Soft;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/tommy-soft-regular.eot") format("embedded-opentype"),
        url("../assets/fonts/tommy-soft-regular.woff2") format("woff2"),
        url("../assets/fonts/tommy-soft-regular.woff") format("woff"),
        url("../assets/fonts/tommy-soft-regular.ttf") format("truetype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/tommy-soft-medium.eot") format("embedded-opentype"),
        url("../assets/fonts/tommy-soft-medium.woff2") format("woff2"),
        url("../assets/fonts/tommy-soft-medium.woff") format("woff"),
        url("../assets/fonts/tommy-soft-medium.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, body * {
    margin: 0;
    padding: 0;
    font-family: Tommy Soft, Avenir, Helvetica, Roboto, Ubuntu, Arial, sans-serif;
}

body {
    margin: 0 0.5rem;
}

main {
    margin: 0 auto;
    max-width: 30rem;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

h1 ~ p:first-of-type {
    margin-bottom: 5rem;
    word-break: break-word;
}

ul, ol {
    list-style: none;
}

li {
    margin-bottom: 0.5rem;
}

form {
    margin-bottom: 2rem;
}

form fieldset {
    border: none;
    margin: 1.5rem 0 3rem 0;
}

form fieldset:last-of-type {
    margin-bottom: 1rem;
}

form fieldset label {
    margin-bottom: 0.25rem;
}

legend {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
}

legend::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: #fcda45;
    position: absolute;
    bottom: 0.1rem;
    z-index: -1;
}

fieldset:nth-of-type(2) legend::before {
    background-color: #45e2fc;
}

fieldset:nth-of-type(3) legend::before {
    background-color: #ff98cd;
}

fieldset:last-of-type legend::before {
    background-color: #3cfda3;
}

fieldset > div:not(.expandable),
fieldset:first-of-type > label,
.expandable div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

fieldset:first-of-type > label > * {
    font-weight: 400;
    margin-top: 0.5rem;
}

div label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

input:not([type="submit"]) {
    max-width: 7.5rem;
}

input, textarea {
    border: 0.175rem solid #8190a3;
}

input:focus, textarea:focus {
    border-color: #2576e0;
}

*:focus-visible {
    outline: 0.05rem solid #2576e0;
    border-radius: 0;
    outline-offset: 0;
}

input[type="number"] {
    max-width: 3rem;
    font-size: 1rem;
    padding: 0.25rem;
    text-align: center;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5rem;
}

input[type="submit"] {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1.5rem auto 2.5rem auto;
    padding: 0.75rem 1.5rem;
    border: 0.2rem solid #2576e0;
    background-color: white;
    border-radius: 0.25rem;
    color: #2576e0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"]:hover {
    background-color: #2576e0;
    color: white;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #13478a;
    border-color: #13478a;
}

input[type="radio"]:hover,
input[type="radio"]:checked:hover,
input[type="radio"]:focus,
input[type="checkbox"]:hover,
input[type="checkbox"]:checked:hover,
input[type="checkbox"]:focus {
    border-color: #13478a;
}

input[type="radio"] {
    position: relative;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    color: #2576e0;
    border: 0.175em solid #8190a3;
    border-radius: 50%;
    appearance: none;
    background-color: white;
}

input[type="radio"]::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    transform: scale(0) translate(-50%, -50%);
    transition: 60ms transform ease;
}

input[type="radio"]:checked {
    border-color: #2576e0;
}

input[type="radio"]:checked::before {
    background-color: #2576e0;
    transform: scale(1) translate(-50%, -50%);
}

input[type="checkbox"] {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 25%;
    background-color: white;
    border: 0.175em solid #8190a3;
    outline: none;
    appearance: none;
    transition: 120ms background-color ease;
}

input[type="checkbox"]::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 10px;
    left: 6px;
    top: 2px;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked {
    background-color: #2576e0;
    border-color: #2576e0;
}

input[value="anders"] + div {
    display: flex;
    flex-direction: column;
}

select, .custom-select .trigger {
    width: 100%;
    height: 2.1rem;
    appearance: none;
    border: 0.175rem solid #8190a3;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 0.25rem;
    padding-right: 1.25rem;
    text-overflow: ellipsis;
}

select:active, select:focus {
    border: 0.175rem solid #2576e0;
}

.select, .custom-select {
    max-width: 20rem;
    position: relative;
}

form fieldset:first-of-type label + div .select {
    z-index: 3;
}

.select:hover select:not(:active):not(:focus) {
    background-color: #ddebff;
}

.select::before, .select::after {
    content: "";
    display: block;
    position: absolute;
    width: 0.5em;
    height: 0.15em;
    background-color: black;
    top: 1rem;
    right: 0.45rem;
    transform: rotate(-45deg);
    z-index: 2;
}

.select::after {
    right: 0.75rem;
    transform: rotate(45deg);
}

.custom-select {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: normal;
    font-size: 1rem;
    z-index: 1;
    -webkit-touch-callout: none;
    user-select: none;
}

.custom-select .trigger {
    width: 100%;
    height: 2.1rem;
    padding: 0.25rem 0.5rem;
    padding-right: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-select .trigger:hover {
    background-color: #ddebff;
}

.custom-select.open .trigger {
    border-color: #2576e0;
    outline: 0.05rem solid #2576e0;
    outline-offset: 0;
}

.custom-select.open .options {
    display: block;
}

.options {
    display: none;
    background-color: white;
    border: 0.175rem solid #5c94dd;
    border-top: 0;
    max-height: 30rem;
    overflow-y: auto;
}

.options div {
    padding: 0.4rem 0.75rem;
    margin: 0;
}

.options div:hover, .options div.hover {
    background-color: #2576e0;
    color: white;
}

.custom-select.open .options {
    box-shadow: 4px 4px 12px -4px #13478a33;
}

textarea {
    width: 100%;
    max-width: 30rem;
    margin-top: 0.25rem;
    padding: 0.25rem;
}

.question, fieldset:first-of-type > label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

fieldset:first-of-type > label {
    margin-bottom: 1.75rem;
}

.expandable .hidden {
    height: 0;
    display: none;
}

.form-error {
    position: relative;
}

.form-error::before {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: orange;
    right: 0;
    top: 0.25rem;
    opacity: 0.75;
    z-index: -1;
    animation: pulse 2s 4 ease;
}

.form-error-message {
    font-size: 0.9rem;
    font-weight: normal;
    color: orangered;
    margin-top: 0.5rem;
}

.text-center {
    text-align: center;
}

/* notifications */

.notification {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 0.25rem solid;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    animation: 1s ease-out fade-in;
}

.notification p {
    text-align: center;
    margin: 0.25rem 0 0.5rem 0;
}

.notification.complete {
    border-color: #0ed159;
}

.notification.error {
    border-color: #fd7658;
}

.button.close {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    border: 0.15rem solid #13478a;
    align-self: flex-end;
}

.button.close::before, .button.close::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 2px;
    background-color: #13478a;
    top: calc(50% - 4px);
    left: calc(50% - 1px);
    transform: rotate(45deg);
}

.button.close::after {
    transform: rotate(-45deg);
}

.button.default {
    width: 12.5rem;
    padding: 0.75rem 0.5rem;
    background-color: #2576e0;
    text-align: center;
    color: white;
    margin: 0.5rem auto;
    align-self: center;
    border-radius: 0.25rem;
}

.button:hover {
    cursor: pointer;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"],
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-in {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

@media (min-width: 30rem) {
    h1 {
        font-size: 2rem;
    }

    h1 ~ p:first-of-type {
        font-size: 1.1rem;
    }

    form fieldset {
        margin: 1.5rem 0 5rem 0;
    }

    input[type="submit"] {
        font-size: 1.5rem;
        padding: 1rem 1.75rem;
        margin: 2.5rem auto 5rem auto;
    }

    input[value="anders"] + div {
        width: 100%;
    }
}

@media (min-width: 60rem) {
    input[type="submit"] {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
    }
}

@media (hover: hover) {
    .custom-select:not(.noscript) {
        display: block;
    }

    select:focus + .custom-select {
        display: none;
    }
}